apiVersion: apps/v1
kind: Deployment
metadata:
  name: gogear-api
  namespace: seashell
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gogear-api
  template:
    metadata:
      labels:
        app: gogear-api
    spec:
      containers:
        - args:
            - --config
            - /config/config.yaml
          env:
            - name: TZ
              value: "Europe/Oslo"
          image: docker.io/bateau/gogear-api:v2.0.0@sha256:ef2711187f057cfa9260223783f49b5657dbbd052b7391683120884ca02d25ee
          imagePullPolicy: Always
          name: gogear-api
          ports:
            - containerPort: 8081
              name: gogear-api
          resources:
            limits:
              cpu: "500m"
              memory: "256Mi"
          volumeMounts:
            - mountPath: /config
              name: config
      dnsPolicy: "ClusterFirst"
      securityContext:
        fsGroup: 1000
      volumes:
        - hostPath:
            path: /data/disk2/opt/gogear-api
          name: config
