name: "Build Push and Deploy main"

on:
  workflow_dispatch:
  push:
    branches:
      - "main"

env:
  IMAGE_REGISTRY: docker.io
  IMAGE_REPOSITORY: bateau
  IMAGE_NAME: gogear-api

permissions:
  contents: read

jobs:
  release:
    name: release
    uses: nrkno/github-workflow-semantic-release/.github/workflows/workflow.yaml@v4.3.0
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for npm provenance
      actions: write
    with:
      runs-on: ubuntu-latest
      release-enabled: true
      lint-enabled: false
  build:
    runs-on: [ubuntu-latest]
    outputs:
      digest: ${{ steps.build_push.outputs.digest }}
    needs: release
    steps:
      # Checkout repo code
      - name: Checkout repo
        uses: actions/checkout@v6.0.1
        with:
          ref: refs/tags/${{ needs.release.outputs.git-tag }}
          fetch-depth: 0
      # Docker login/build/push
      - uses: docker/login-action@v3.6.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.12.0
      - name: Build and push
        id: build_push
        uses: docker/build-push-action@v6.18.0
        with:
          push: true
          cache-from: type=registry,ref=${{ env.IMAGE_REGISTRY }}/${{ env.IMAGE_REPOSITORY }}/${{ env.IMAGE_NAME }}:build-cache
          cache-to: type=registry,ref=${{ env.IMAGE_REGISTRY }}/${{ env.IMAGE_REPOSITORY }}/${{ env.IMAGE_NAME }}:build-cache,mode=max,ignore-error=true
          tags: |
            ${{ env.IMAGE_REGISTRY }}/${{ env.IMAGE_REPOSITORY }}/${{ env.IMAGE_NAME }}:${{ needs.release.outputs.git-tag }}
            ${{ env.IMAGE_REGISTRY }}/${{ env.IMAGE_REPOSITORY }}/${{ env.IMAGE_NAME }}:latest
  deploy:
    runs-on: [ubuntu-latest]
    needs: [release, build ]
    permissions:
      id-token: write
      actions: read
      contents: read
    steps:
      # Checkout repo code
      - name: Checkout repo
        uses: actions/checkout@v6.0.1
        with:
          ref: refs/tags/${{ needs.release.outputs.git-tag }}
          fetch-depth: 0
      - name: Kubeconfig context
        uses: azure/k8s-set-context@v4
        with:
          method: kubeconfig
          kubeconfig: ${{ secrets.K8S_KONFIG }}
      - name: Tailscale
        uses: tailscale/github-action@v4
        with:
          oauth-client-id: ${{ secrets.TS_ACTION_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_ACTION_CLIENT_SECRET }}
          tags: tag:github
      - uses: azure/setup-kubectl@v4
        with:
          version: 'v1.33.4'
      # Do the deploy on K8s cluster set in the above context
      - name: Deply manifests to k8s
        uses: azure/k8s-deploy@v5
        timeout-minutes: 15
        with:
          action: deploy
          namespace: seashell
          annotate-namespace: false
          strategy: basic
          manifests: kubernetes-manifests
          images: |
            ${{ env.IMAGE_REGISTRY }}/${{ env.IMAGE_REPOSITORY }}/${{ env.IMAGE_NAME }}:${{ needs.release.outputs.git-tag }}@${{ needs.build.outputs.digest }}
